<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Login</title>
    <th:block th:include="fragments/headerinc :: head"></th:block>
</head>
<body>
<div class="container">
    <th:block th:include="fragments/header :: header"></th:block>
    <div class="jumbotron">
        <div >
            <form  th:action="@{/user/form39}">
                <div class="table-responsive" >
                <table class="table">
                    <tr>
                        <th>A</th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>7</th>
                        <th>8</th>
                        <th>9</th>
                        <th>10</th>
                        <th>11</th>
                        <th>12</th>
                        <th>13</th>
                        <th>14</th>
                    </tr>
                    <tr>
                        <td><input size="3" type="text" th:name="numDay" th:value="${numDay}"
                                   placeholder="num" required="true" autofocus="true"/>numDay</td>
                        <td><input size="3" type="text"  th:name="numberVisi+tsAll" th:value="${numberVisitsAll}"
                                   placeholder="num" required="true"/>number</td>
                        <td><input size="3" type="text"  th:name="ofVillagers" th:value="${ofVillagers}"
                                   placeholder="num" required="true"/>number</td>
                        <td><input size="3" type="text" th:name="childrenVisitsAll" th:value="${childrenVisitsAll}"
                                   placeholder="num" required="true"/></td>
                        <td><input size="3" type="text"  th:name="childrenVisitsVillagers" th:value="${childrenVisitsVillagers}"
                                   placeholder="num" required="true"/></td>
                        <td><input size="3" type="text"  th:name="adultsVisitsDisease" th:value="${adultsVisitsDisease}"
                                   placeholder="num" required="true"/></td>
                        <td><input size="3" type="text"  th:name="adultsVisitsDiseaseVillagers" th:value="${adultsVisitsDiseaseVillagers}"
                                   placeholder="num" required="true"/></td>
                        <td><input size="3" type="text"  th:name="childrenVisitsDisease" th:value="${childrenVisitsDisease}"
                                   placeholder="num" required="true"/></td>
                        <td><input size="3" type="text"  th:name="childrenVisitsDiseaseVillagers"  th:value="${childrenVisitsDiseaseVillagers}"
                                   placeholder="num" required="true"/></td>
                        <td><input size="3" type="text"  th:name="visitsHomeAll" th:value="${visitsHomeAll}"
                                   placeholder="visitsHomeAll" required="true"/></td>
                        <td><input size="3" type="text"  th:name="visitsHomeVillagers" th:value="${visitsHomeVillagers}"
                                   placeholder="num" required="true"/></td>
                        <td><input size="3" type="text"  th:name="childrenVisitsHomeAll" th:value="${childrenVisitsHomeAll}"
                                   placeholder="num" required="true"/></td>
                        <td><input size="3" type="text"  th:name="childrenVisitsHomeVillagers" th:value="${childrenVisitsHomeVillagers}"
                                   placeholder="num" required="true"/></td>
                        <td><input size="3" type="text"  th:name="childrenPatronage" th:value="${childrenPatronage}"
                                   placeholder="num" required="true"/></td>
                        <td><input size="3" type="text"  th:name="childrenPatronageVillagers" th:value="${childrenPatronageVillagers}"
                                   placeholder="num" required="true"/></td>
                        <!--<td>${listForm39Data.userByIdDoctor.fio}</td>
                        <td>${listForm39Data.userByIdDoctor.specialtyDoctor}</td>-->
                    </tr>
                </table>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>