/*
table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
}
th, td:first-child {
    background: #AFCDE7;
    color: white;
    padding: 10px 20px;
}
th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;

}
td {
    background: #D8E6F3;
}
th:first-child, td:first-child {
    text-align: left;
}*/
/*table.example{
    font-family:Arial;
    font-size:12px;
    border-collapse:collapse;
}
table.example td{
    padding:5px;
    border:1px solid #cc0;
}

td.vertical{
    writing-mode: tb-rl;
    filter: flipH flipV;
    background:#fff; !* для устранения бага с отображением текста в IE6 и ниже *!
    text-align:center;
    font-size:12px;
    font-family:Arial;
}*/

td {
    vertical-align: center;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    vertical-align: center;
    text-align: center;
}
tr.even {
    background: #FFA500; /* Цвет фона  строк */

}
th.eventh{
    border: 1px solid black;
}

.vert-text{
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);

    -ms-transform-origin: left top 0;
    -moz-transform-origin: left top 0;
    -webkit-transform-origin: left top 0;
    transform-origin: left top 0;

    margin-left: 47px;
    padding: 0;
    float: left;
    height:280px;
    width:5px;
    white-space: nowrap;
}