<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Поліклініка</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div class="jumbotron">
        <table class="example">
            <tr>
                <td colspan="3">Сроки наблюдения, сут</td>
                <td>3</td>
                <td>6</td>
                <td>9</td>
                <td>12</td>
            </tr>
            <tr>
                <td rowspan="12" class="vertical">Содержание основных клеточных элементов, %</td>
                <td rowspan="3" class="vertical">Нейтрофилы<!-- для устранения глюка в Opera --></td>
                <td>Хлоргексидин</td>
                <td>49.3</td>
                <td>31.5</td>
                <td>23.5</td>
                <td>24.5</td>
            </tr>
            <tr>
                <td>Левосин</td>
                <td>43.4</td>
                <td>25.3</td>
                <td>19.5</td>
                <td>19.4</td>
            </tr>
            <tr>
                <td>Левосин + прополис</td>
                <td>32.5</td>
                <td>22.3</td>
                <td>16.2</td>
                <td>13.4</td>
            </tr>
            <tr>
                <td rowspan="3" class="vertical">Макрофаги<!-- для устранения глюка в Opera --></td>
                <td>Хлоргексидин</td>
                <td>1.0</td>
                <td>1.4</td>
                <td>18.9</td>
                <td>29.5</td>
            </tr>
            <tr>
                <td>Левосин</td>
                <td>2.1</td>
                <td>1.3</td>
                <td>17.4</td>
                <td>32.1</td>
            </tr>
            <tr>
                <td>Левосин + прополис</td>
                <td>4.1</td>
                <td>3.8</td>
                <td>27.5</td>
                <td>29.5</td>
            </tr>
            <tr>
                <td rowspan="3" class="vertical">Лимфоциты<!-- для устранения глюка в Opera --></td>
                <td>Хлоргексидин</td>
                <td>1.1</td>
                <td>3.5</td>
                <td>1.1</td>
                <td>1.9</td>
            </tr>
            <tr>
                <td>Левосин</td>
                <td>1.9</td>
                <td>2.9</td>
                <td>3.2</td>
                <td>3.8</td>
            </tr>
            <tr>
                <td>Левосин + прополис</td>
                <td>6.6</td>
                <td>2.7</td>
                <td>2.1</td>
                <td>2.7</td>
            </tr>
            <tr>
                <td rowspan="3" class="vertical">Фибробласты</td>
                <td>Хлоргексидин</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>11.5</td>
                <td>28.1</td>
            </tr>
            <tr>
                <td>Левосин</td>
                <td>1.8</td>
                <td>2.3</td>
                <td>15.2</td>
                <td>25.2</td>
            </tr>
            <tr>
                <td>Левосин + прополис</td>
                <td>4.1</td>
                <td>3.9</td>
                <td>23,4</td>
                <td>25.9</td>
            </tr>
        </table>

    </div>
</div>
</body>
</html>