<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Поліклініка</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div class="jumbotron">
        <div class="row text-center">
            <div class="">
                <h2>Територіальне медичне об’єднання «ПСИХІАТРІЯ» </h2>
                <div class="row text-center">
                    <img src="../../static/images/medicina.jpg" width="400"
                         th:src="@{/images/medicina.jpg}"/>
                </div>
                <h3>у м. Києві </h3>
            </div>
        </div>

    </div>
</div>
<!--<form action="/mainUserPage" method="post">
    <input type="submit" value="check"/>
</form>-->
</body>
</html>