<!DOCTYPE html>
<html>
<head lang="en">

    <title>Поліклініка</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div class="jumbotron">
        <div class="row text-center">
            <div class="">
                <h2>Контактна інформація </h2>
                <h4>04080 м. Київ, вул. Кирилівська, 103-А

                   Телефон і факс: 463-74-82, 468-32-17

                    Call-центр: (044) 15-51

                    E-mail: kmpnl1@health.kiev.ua

                    код ЄДРПОУ 01994072

                    Телефон довідкової служби: (044) 468-41-02</h4>
            </div>
        </div>
       <!-- <div class="row text-center">
            <img src="../../static/images/medicina.jpg" width="400"
                 th:src="@{/images/medicina.jpg}"/>
        </div>-->
    </div>
</div>
</body>
</html>